<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\data__style.css">
        <link rel="stylesheet" href="..\static\fonts">
        <script src="..\static\js\jquery.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Driving System</title>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="header_inner">
                    <img src="..\static\img\logo.png" alt="">            
                    <div class="header_logo_text">Driving System</div>
                    <nav class="nav">
                        <a class="nav__link"href="#">Информация</a>
                        <a class="nav__link"href="#">Услуги</a>
                        <a class="nav__link"href="#">Контакты</a>
                    </nav>
                    <div class="soc">
                        <a class="soc__img"href="">
                            <img src="..\static\img\vk.png" alt="">
                        </a>
                        <a class="soc__img"href="">
                            <img src="..\static\img\tg.png" alt="">
                        </a>
                        <a class="soc__img"href="">
                            <img src="..\static\img\wa.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="calendar">
                <div class="calendar__inner">
                    <div class="week">
                        <a href="{{ instructor_id }}|{{ last_week }}"><img src="..\static\img\data\vector2.svg"></a>
                        <div>ПН|<label>{{ dates[0] }}</label></div>
                        <div>ВТ|<label>{{ dates[1] }}</label></div>
                        <div>СР|<label>{{ dates[2] }}</label></div>
                        <div>ЧТ|<label>{{ dates[3] }}</label></div>
                        <div>ПТ|<label>{{ dates[4] }}</label></div>
                        <div>СБ|<label>{{ dates[5] }}</label></div>
                        <div>ВС|<label>{{ dates[6] }}</label></div>
                        <a href="{{ instructor_id }}|{{ next_week }}"><img style="transform: rotate(180deg);" src="..\static\img\data\vector2.svg"></a>
                    </div>
                    <div class="dates">
                        <div class="month">
                            <div class="month__inner">
                                {{ month }}<label>{{ year }}</label>
                            </div>
                        </div>
                        <div class="dates__sq">
                            {% for row in times %}
                                <div class="row">
                                {% for el in row %}
                                    <button class="column" id="{{ el[1] }}" onclick="ButtonClick(this)">{{ el[0] }}</button>
                                {% endfor %}
                                </div>
                            {% endfor %}
                            <script src="..\static\js\status.js"></script>
                        </div>
                    </div>
                </div>
        </div>

        <div class="info">
            <div class="container">
                <form action="calendar" method="POST" class="info__inner">
                    <div>
                        <div>Инструктор: <label style="color: #2055E5;">{{ instructor_name }}</label></div>
                        <input type="hidden" name="instructor_id" value="{{ instructor_id }}" readonly>

                        <!-- следующие две строки необходимо изменять -->
                        <div>Дата: <label style="color: #2055E5;">11.22.63</label></div>
                        <input type="hidden" name="lesson_date" value="11.22.63" readonly>

                        <div>Время: <label id="workTime1" style="color: #2055E5;">....</label>-<label id="workTime2" style="color: #2055E5;">....</label></div>
                        <input type="hidden" name="workTime1" value="...." readonly>
                        <input type="hidden" name="workTime2" value="...." readonly>

                        <div>Место встречи: <label style="color: #2055E5;">изменить нельзя</label></div>
                        <input type="hidden" name="meeting_place" value="meeting_placeinst" readonly>
                    </div>
                    <div>
                        <div>Цена: <label style="color: #2055E5;">{{ price }}</label></div>
                        <input type="hidden" name="lesson_price" value="{{ price }}₽" readonly>
                    </div>
                    <button>Send</button>
                </form>
            </div>
        </div>
        <script src="../static/js/month.js"></script>


    </body>
</html>