<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\sur_style1.css">
        <link rel="stylesheet" href="..\static\fonts">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Анкета</title>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="header_inner">        
                    <div class="header_logo_text">Driving System</div>
                    <div class="soc">
                        <a class="soc__img"href="">
                            <img src="..\static\img\vk.png" alt="">
                        </a>
                        <a class="soc__img"href="">
                            <img src="..\static\img\tg.png" alt="">
                        </a>
                        <a class="soc__img"href="">
                            <img src="..\static\img\wa.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="survey">
            <div class="container">
                <div class="sur__inner">
                    <div class="sur__profile">
                        <img src="..\static\img\photo.png" alt="">
                        <div class="pro__info">
                            <div>
                                <label>ИНД. КОД:</label>
                                <input class="input" type="text" maxlength="9" placeholder=" ____________">
                            </div>
                            <div>
                                <label>ИМЯ:</label>
                                <input class="input" type="text" maxlength="25" placeholder=" ____________">                            
                            </div>
                        </div>
                    </div>
                    <div class="sur__data">
                        <form>
                            <div class="suptitle">АНКЕТА</div>
                            <div>
                                <label>ФИО:</label>
                                <input name="fio" class="input" type="text" maxlength="50" placeholder=" _____________________________" value="{{ fio }}">
                            </div>
                            <div>
                                <label>АВТОМОБИЛЬ:</label>
                                <select onchange="addCustomOption()" id="select" class="input">
                                    <option value="Volvo">Volvo</option>
                                    <option value="BMW">BMW</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Other">Другое</option>
                                </select>
                            </div>
                            <div style="display:none" class="personal_car_block">
                                <label>ВВЕДИТЕ МОДЕЛЬ И НАЗВАНИЕ:</label>
                                <input name="personal_car" class="input" type="text" maxlength="50" placeholder=" _____________________________">
                            </div>

                            <script>
                                function addCustomOption() {
                                    var selectElement = document.getElementById("select");
                                    var otherOption = document.querySelector('option[value="Other"]');
                                    const block = document.querySelector('.personal_car_block');

                                    if (selectElement.selectedIndex === otherOption.index) {

                                        block.style.display = 'block';

                                        // console.log("Выбрано поле 'Другое'");
                                    } else {

                                        block.style.display = 'none';

                                        // console.log("Выбрана другая опция");
                                    }
                                }
                            </script>

                            <div>
                                <label>ДОБАВИТЬ ФОТО ПРОФИЛЯ:</label>
                                <input type="file">
                            </div>
                            <div>
                                <label>ДОБАВИТЬ ФОТО АВТО:</label>
                                <input type="file">
                            </div>
                            <div class="suptitle2">
                                <button>СОХРАНИТЬ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>