<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\sur_style2_new.css">
        <link rel="stylesheet" href="..\static\fonts">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Анкета</title>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="header_inner">        
                    <div class="header_logo_text">Driving System</div>
                    <div class="soc">
                        <a class="soc__img"href="">
                            <img src="..\static\img\vk.png" alt="">
                        </a>
                        <a class="soc__img"href="">
                            <img src="..\static\img\tg.png" alt="">
                        </a>
                        <a class="soc__img"href="">
                            <img src="..\static\img\wa.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <form action="instructor" method="POST" enctype="multipart/form-data" class="survey">
            <div class="container">
                <div class="sur__inner">
                    <div>
                        <div class="sur__profile">
                            <div>
                                <label>ID: <label style="color: #2055E5;">{{ user_id }}</label></label>
                                <div>
                                    <label for="photo" style="cursor: pointer;"><img  style="border: 4px solid #2055E5;border-radius: 52px; width: 235px; height: 235px;" src="{{ main_photo }}"></label>
                                    <input name="photo" type="file" class="input__file" id="photo">
                                </div>
                            </div>
                            <div class="pro__info">
                                <div>
                                    <label>ФИО:</label>
                                    <input name="fio" class="avto" type="text" maxlength="100" placeholder=" _____________________" value="{{ fio }}">
                                </div>
                                <div>
                                    <label>Автомобиль:</label>
                                    <input name="car_model" class="avto" type="text" maxlength="100" placeholder=" (Марка, модель, год выпуска, кпп)" style="font-size: 23px;" value="{{ car }}">
                                </div>
                            </div>
                        </div>
                            <div style="transform: scale(1); margin-top: 35px;">
                                <label>ФОТО АВТО:</label>
                                <div>
                                    <label for="bigPhoto" style="cursor: pointer;"><img style="border: 4px solid #2055E5;border-radius: 52px; width: 630px; height: 400px;" src="{{ car_photo }}"></label>
                                    <input name="photo_car" type="file" class="input__file" id="bigPhoto">
                                </div>
                            </div>
                    </div>

                    <div>
                    <label style="font-size: 23px">описание обучения:</label>
                        <form>
                            <div>
                                <textarea name="description" class="inputB" cols="67" rows="10" maxlength="460" placeholder="__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________">{{ description }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="suptitle2">
                    <button>СОХРАНИТЬ</button>
                </div>
            </div>
        </form>