<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\style_swap.css">
        <link rel="stylesheet" href="..\static\fonts">
        <title>Driving System</title>
    </head>
    <body>
    	<div class="header">
    		<div class="container">
    			<div class="header_inner">
                    <img src="static\img\logo.png" alt="">            
    				<div class="header_logo_text">Driving System</div>
    				<nav class="nav">
    					<a class="nav__link"href="#">Информация</a>
    					<a class="nav__link"href="#">Услуги</a>
    					<a class="nav__link"href="#">Контакты</a>
    				</nav>
    				<div class="soc">
    					<a class="soc__img"href="">
                            <img src="..\static\img\vk.png" alt="">
                        </a>
    					<a class="soc__img"href="">
                            <img src="..\static\img\tg.png" alt="">
                        </a>
    					<a class="soc__img"href="">
                            <img src="..\static\img\wa.png" alt="">
                        </a>
    				</div>
    			</div>
    		</div>
    	</div>

        <div class="intro">
            <div class="container">
                <div class="intro__inner">
                    <div class="but">
                        <a href="/register/student"><button class="button">Я ученик</button></a>
                        <a href="/register/instructor"><button class="button">Я инструктор</button></a>
                    </div>
                </div>
            </div>
        </div>