<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../static/css/table.css">

	<title>Users</title>
</head>
<body>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
		{% for row in data %}
		<tr>
			{% for date in row %}
			<td>{{ date }}</td>
			{% endfor %}
			<td>
				<form action="test_funk" method="POST">
					<button type="submit" name="submit_b" value="{{ row[0] }}" id='id'>click</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>	